<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Shopping cart" />
    <meta name="author" content="https://github.com/EddyEduard" />
    <title>
        Shop Cart - <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="intro d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Welcome to Shop Cart!</h3>
                                <p class="mb-4">Shop Cart is a shopping application which can be using by anyone
                                    from
                                    anywhere!</p>
                                <div class="sign-in">
                                    <p>Already have an account? Sign In Now!</p>
                                    <a href="/auth/login"
                                        class="btn btn-lg btn-dark btn-login text-uppercase fw-bold mb-2">Sign In</a>
                                </div>
                                <br />
                                <div class="sign-up">
                                    <p>You have no account? Sign Up Now!</p>
                                    <a href="/auth/register"
                                        class="btn btn-lg btn-dark btn-login text-uppercase fw-bold mb-2">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>